<label for="page-<%= web_template.id %>" class="switch-label">Page Status</label>
<div class="switch switch-small" data-on="success" data-off="danger">
  <input type="checkbox"
    id="page-<%= web_template.id %>"
    data-remote-url="<%= send("toggle_disabled_website_#{web_template.type.underscore}_path", website, web_template) %>"
    <%= "checked" unless web_template.disabled? %>
  />
</div>
