<label for="page-<%= web_template.id %>" class="switch-label">Page Status</label>
<div class="switch switch-small" data-on="success" data-off="danger">
  <input type="checkbox"
    id="page-<%= web_template.id %>"
    <%= "checked" unless web_template.disabled? %>
  />
</div>
