body {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol,
nav li {
  list-style-type: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
form input,
form label {
  display: block;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.collapsable-btn {
  display: inline-block;
  cursor: pointer; }
.collapsable-content,
.collapsable-content.collapse {
  height: 0;
  overflow: hidden; }
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }
.collapse.in {
  height: auto; }


@media (min-width: 980px) {
  .collapsable-btn {
    display: none !important;
  }
  .collapsable-content {
    height: auto !important;
    overflow: visible !important;
  }
}
