// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Cell
// -------------------------------------

%l-container, .l-container {
  margin: 0 auto;
  max-width: rem($l-maxWidth);
  padding: 0 rem($base-whitespace);
}


// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
  display: block;
}

%l-condense, .l-condense {
  margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
  float: left;
}

%l-pullRight, .l-pullRight {
  float: right;
}

%l-space, .l-space {
  margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
  margin-bottom: rem($base-whitespace * 2);
}