<% title "Page" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for pages in @web_templates %>
    <tr>
      <td><%= pages.name %></td>
      <td><%= link_to "Show", pages %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Page", new_web_page_template_path %></p>
