@import "normalize";
@import "base";

.dxm {
  background: url(app/views/web_templates/stylesheets/base.scss) no-repeat;
  display: inline-block;
  height: 23px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 100px;
}
