@import "normalize";
@import "base";

.dxm {
  background: url(http://g5-widget-garden.herokuapp.com/static/images/dxm.png) no-repeat;
  display: inline-block;
  height: 23px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 100px;
}
