<div class="card flip-container web-page-template sortable-item" data-id={{unbound id}}>
  <div class="flipper">

    {{ partial "website/webPageTemplateFront" }}

    {{ partial "website/webPageTemplateBack" }}

  </div> <!-- end .flipper -->
</div> <!-- end .flip-container -->
