<article class="h-g5-component well">
  <header>
    <h2 class="p-name">
      <a href="http://g5-widget-garden.dev/components/calls-to-action" class="u-url u-uid" rel="bookmark">Calls to Action</a>
    </h2>
    <p class="p-summary">Up to four calls to action</p>
      <p>
        <a href="http://g5-widget-garden.dev/static/components/calls-to-action/edit.html" class="u-g5-edit-template u-url">http://g5-widget-garden.dev/static/components/calls-to-action/edit.html</a>
      </p>
      <p>
        <a href="http://g5-widget-garden.dev/static/components/calls-to-action/show.html" class="u-g5-show-template u-url">http://g5-widget-garden.dev/static/components/calls-to-action/show.html</a>
      </p>
    <p>
      <a href="http://g5-widget-garden.dev/static/components/calls-to-action/images/thumbnail.png" class="u-photo u-url">http://g5-widget-garden.dev/static/components/calls-to-action/images/thumbnail.png</a>
    </p>
      <h3>Images</h3>
        <p>
          <a href="http://g5-widget-garden.dev/static/components/calls-to-action/images/thumbnail.png" class="u-g5-image u-url">http://g5-widget-garden.dev/static/components/calls-to-action/images/thumbnail.png</a>
        </p>
      <h3>Javascripts</h3>
        <p>
          <a href="http://g5-widget-garden.dev/static/components/calls-to-action/javascripts/cta.js.coffee" class="u-g5-javascript u-url">http://g5-widget-garden.dev/static/components/calls-to-action/javascripts/cta.js.coffee</a>
        </p>
      <ul class="unstyled">
          <li class="e-g5-property-group h-g5-property-group">
            <h3><span class="p-name">Calls to Action</span>Property Group</h3>
  <p class="p-category">Instance</p>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">available_calls_to_action
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              false
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_one_text
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_one_url
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_two_text
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_two_url
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_three_text
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_three_url
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_four_text
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-bordered e-g5-property h-g5-property">
        <tbody><tr>
          <th>Name</th>
          <td class="p-g5-name">cta_four_url
        </td></tr>
          <tr>
            <th style="width:40%">Editable</th>
            <td class="p-g5-editable">
              true
            </td>
          </tr>
          <tr>
            <th style="width:40%">Default Value</th>
            <td class="p-g5-default-value">

            </td>
          </tr>
      </tbody></table>
    </div>
  </div>

          </li>
      </ul>
  </header>
  <hr>

  <pre><code class="e-content xml"><span class="comment">&lt;!-- BEGIN EDIT FORM MARKUP --&gt;</span>
<span class="tag">&lt;<span class="title">form</span>&gt;</span>
  {{ widget.available_calls_to_action.best_value }}
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_one_text.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_one_text.value_field_name}}"</span>&gt;</span>
      CTA One Text
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span>
      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_one_text.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_one_text.value_field_name}}"</span>
      <span class="attribute">value</span>=<span class="value">"{{ widget.cta_one_text.value }}"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_one_url.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_one_url.value_field_name}}"</span>&gt;</span>
      CTA One URL
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">select
</span>      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_one_url.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_one_url.value_field_name}}"</span>
    &gt;</span>
      <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">""</span>&gt;</span>Please Select<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% for cta in widget.available_calls_to_action.best_value %}
        <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">"{{ cta[1] }}"</span>
          {% <span class="attribute">if</span> <span class="attribute">widget.cta_one_url.value</span> =<span class="value">=</span> <span class="attribute">cta</span>[<span class="attribute">1</span>] %}<span class="attribute">selected</span>=<span class="value">"selected"</span>{% <span class="attribute">endif</span> %}&gt;</span>
          {{ cta[1] }}
        <span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% endfor %}
    <span class="tag">&lt;/<span class="title">select</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_two_text.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_two_text.value_field_name}}"</span>&gt;</span>
      CTA Two Text
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span>
      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_two_text.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_two_text.value_field_name}}"</span>
      <span class="attribute">value</span>=<span class="value">"{{ widget.cta_two_text.value }}"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_two_url.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_two_url.value_field_name}}"</span>&gt;</span>
      CTA Two URL
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">select
</span>      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_two_url.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_two_url.value_field_name}}"</span>
    &gt;</span>
      <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">""</span>&gt;</span>Please Select<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% for cta in widget.available_calls_to_action.best_value %}
        <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">"{{ cta[1] }}"</span>
          {% <span class="attribute">if</span> <span class="attribute">widget.cta_two_url.value</span> =<span class="value">=</span> <span class="attribute">cta</span>[<span class="attribute">1</span>] %}<span class="attribute">selected</span>=<span class="value">"selected"</span>{% <span class="attribute">endif</span> %}&gt;</span>
          {{ cta[1] }}
        <span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% endfor %}
    <span class="tag">&lt;/<span class="title">select</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_three_text.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_three_text.value_field_name}}"</span>&gt;</span>
      CTA Three Text
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span>
      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_three_text.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_three_text.value_field_name}}"</span>
      <span class="attribute">value</span>=<span class="value">"{{ widget.cta_three_text.value }}"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_three_url.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_three_url.value_field_name}}"</span>&gt;</span>
      CTA Three URL
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">select
</span>      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_three_url.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_three_url.value_field_name}}"</span>
    &gt;</span>
      <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">""</span>&gt;</span>Please Select<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% for cta in widget.available_calls_to_action.best_value %}
        <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">"{{ cta[1] }}"</span>
          {% <span class="attribute">if</span> <span class="attribute">widget.cta_three_url.value</span> =<span class="value">=</span> <span class="attribute">cta</span>[<span class="attribute">1</span>] %}<span class="attribute">selected</span>=<span class="value">"selected"</span>{% <span class="attribute">endif</span> %}&gt;</span>
          {{ cta[1] }}
        <span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% endfor %}
    <span class="tag">&lt;/<span class="title">select</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_four_text.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_four_text.value_field_name}}"</span>&gt;</span>
      CTA Four Text
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span>
      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_four_text.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_four_text.value_field_name}}"</span>
      <span class="attribute">value</span>=<span class="value">"{{ widget.cta_four_text.value }}"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"field"</span>&gt;</span>
    {{ widget.cta_four_url.id_hidden_field }}
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">name</span>=<span class="value">"{{ widget.cta_four_url.value_field_name}}"</span>&gt;</span>
      CTA Four URL
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">select
</span>      <span class="attribute">id</span>=<span class="value">"{{ widget.cta_four_url.value_field_id}}"</span>
      <span class="attribute">name</span>=<span class="value">"{{ widget.cta_four_url.value_field_name}}"</span>
    &gt;</span>
      <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">""</span>&gt;</span>Please Select<span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% for cta in widget.available_calls_to_action.best_value %}
        <span class="tag">&lt;<span class="title">option</span> <span class="attribute">value</span>=<span class="value">"{{ cta[1] }}"</span>
          {% <span class="attribute">if</span> <span class="attribute">widget.cta_four_url.value</span> =<span class="value">=</span> <span class="attribute">cta</span>[<span class="attribute">1</span>] %}<span class="attribute">selected</span>=<span class="value">"selected"</span>{% <span class="attribute">endif</span> %}&gt;</span>
          {{ cta[1] }}
        <span class="tag">&lt;/<span class="title">option</span>&gt;</span>
      {% endfor %}
    <span class="tag">&lt;/<span class="title">select</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"submit"</span> <span class="attribute">value</span>=<span class="value">"Save"</span> /&gt;</span>
<span class="tag">&lt;/<span class="title">form</span>&gt;</span>

<span class="tag">&lt;<span class="title">script</span> <span class="attribute">type</span>=<span class="value">"text/javascript"</span>&gt;</span><span class="javascript">
  (<span class="keyword">function</span>() {
    window.UniqueSelectValues = (<span class="keyword">function</span>() {
      <span class="function"><span class="keyword">function</span> <span class="title">UniqueSelectValues</span><span class="params">(selects)</span> {</span>
        <span class="keyword">var</span> _<span class="keyword">this</span> = <span class="keyword">this</span>;

        <span class="keyword">this</span>.selects = selects;
        <span class="keyword">this</span>.disableOptions();
        <span class="keyword">this</span>.selects.change(<span class="keyword">function</span>() {
          <span class="keyword">return</span> _<span class="keyword">this</span>.disableOptions();
        });
      }

      UniqueSelectValues.prototype.disableOptions = <span class="keyword">function</span>() {
        <span class="keyword">var</span> select, _i, _len, _ref, _results;

        <span class="keyword">this</span>.enableAll();
        _ref = <span class="keyword">this</span>.selects;
        _results = [];
        <span class="keyword">for</span> (_i = <span class="number">0</span>, _len = _ref.length; _i &lt; _len; _i++) {
          select = _ref[_i];
          <span class="keyword">if</span> (select.value !== <span class="string">''</span>) {
            _results.push(<span class="keyword">this</span>.makeDisabled(select));
          }
        }
        <span class="keyword">return</span> _results;
      };

      UniqueSelectValues.prototype.enableAll = <span class="keyword">function</span>() {
        <span class="keyword">var</span> option, _i, _len, _ref, _results;

        _ref = <span class="keyword">this</span>.selects.children();
        _results = [];
        <span class="keyword">for</span> (_i = <span class="number">0</span>, _len = _ref.length; _i &lt; _len; _i++) {
          option = _ref[_i];
          <span class="keyword">if</span> (option.disabled) {
            _results.push($(option).removeAttr(<span class="string">'disabled'</span>));
          }
        }
        <span class="keyword">return</span> _results;
      };

      UniqueSelectValues.prototype.makeDisabled = <span class="keyword">function</span>(select) {
        <span class="keyword">var</span> options;

        options = <span class="keyword">this</span>.selects.not(select).children(<span class="string">"[value='"</span> + select.value + <span class="string">"']"</span>);
        <span class="keyword">return</span> options.attr(<span class="string">'disabled'</span>, <span class="string">'disabled'</span>);
      };

      <span class="keyword">return</span> UniqueSelectValues;

    })();

  }).call(<span class="keyword">this</span>);

  $(
  <span class="keyword">function</span>(){
    <span class="keyword">new</span> window.UniqueSelectValues($(<span class="string">"div.field select"</span>));
  });
</span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>

<span class="comment">&lt;!-- END EDIT FORM MARKUP --&gt;</span>

<span class="comment">&lt;!-- BEGIN SHOW MARKUP --&gt;</span>
<span class="tag">&lt;<span class="title">nav</span> <span class="attribute">class</span>=<span class="value">"action-calls widget"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    {% if widget.cta_one_text.value != empty &amp;&amp; widget.cta_one_url.value != empty %}
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{ widget.cta_one_url.value }}"</span>&gt;</span>{{ widget.cta_one_text.value }}<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    {% endif %}
    {% if widget.cta_two_text.value != empty &amp;&amp; widget.cta_two_url.value != empty %}
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{ widget.cta_two_url.value }}"</span>&gt;</span>{{ widget.cta_two_text.value }}<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    {% endif %}
    {% if widget.cta_three_text.value != empty &amp;&amp; widget.cta_three_url.value != empty %}
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{ widget.cta_three_url.value }}"</span>&gt;</span>{{ widget.cta_three_text.value }}<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    {% endif %}
    {% if widget.cta_four_text.value != empty &amp;&amp; widget.cta_four_url.value != empty %}
    <span class="tag">&lt;<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{ widget.cta_four_url.value }}"</span>&gt;</span>{{ widget.cta_four_text.value }}<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    {% endif %}
  <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
<span class="tag">&lt;/<span class="title">nav</span>&gt;</span>

<span class="comment">&lt;!-- END SHOW MARKUP --&gt;</span></code></pre>
</article>
