// *************************************
//
//   Alert
//   ->
//
// *************************************

.alert {
  @include transition(opacity 0.5s ease-out);
  padding: .5em;
  text-align: center;
  text-transform: uppercase;
  p {
    margin: 0;
  }
}

.alert-info {
  background: $c-alert-info;
  color: darken($c-alert-info, 50%);
}
