// *************************************
//
//   Banner
//   ->
//
// *************************************

.banner {
  @extend %group;
  @extend %c-shout;
  background: $base-color;
  margin-bottom: 1.25em;
  padding-bottom: em(10px);
  padding-top: em(10px);
  position: relative;
  a {
    color: $c-color-b;
    text-decoration: none;
  }
}

.banner-title {
  @extend %group;
  @include font-size($base-fontSize);
  color: $c-color-b;
  font-weight: $base-fontWeight;
  letter-spacing: em(1px);
  margin: 0;
  a {
    display: inline;
  }
  @include respond-to($l-min-large) {
    @include font-size(20px);
  }
}

.banner-logo {
  vertical-align: middle;
  margin-right: $base-whitespace / 2;
  @include respond-to($l-min-xlarge) {
    margin-right: $base-whitespace;
  }
}

.banner-subtitle {
  color: $c-color-a;
  font-weight: $base-fontWeight;
}

.banner-navigation {
  font-weight: $c-light;
  margin-top: 1em;
  @include respond-to($l-min-large) {
    margin-top: em(4px);
  }
  a {
    @include transition(color .1s linear);
    &:hover {
      color: $c-color-a;
    }
    @include respond-to($l-max-medium, max-width) {
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  }
}

.page-name {
  display: none;
}
