// *************************************
//
//   Buttons
//   ->
//
// *************************************

.buttons {
  @extend %group;
  .btn {
    @include respond-to($l-max-medium, max-width) {
      display: block;
      margin-bottom: .5em;
    }
    & + .btn {
      @include respond-to($l-min-medium) {
        margin-left: 2%;
      }
    }
  }
}

%btn, .btn {
  @extend %c-shout;
  @extend %c-h6;
  @include box-sizing(border-box);
  @include transition(background-color 0.1s linear);
  background-color: $c-color-a;
  border: none;
  color: #fff;
  display: inline-block;
  outline: none;
  padding: .5em 2em;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:focus {
    background-color: darken($c-color-a, 10%);
    color: #fff;
  }
}

.btn-arrow-up {
  @include triangle(10px, $base-color, up);
  display: inline-block;
  margin: 0 .5em .2em;
}

.btn-arrow-down {
  @include triangle(10px, $base-color, down);
  display: inline-block;
  margin: 0 .5em -.2em;
}


// ----- Modifiers ----- //

.btn--small {
  @include font-size(12px);
  font-weight: $c-semiBold;
}

.btn--a {
  background-color: $c-background-b;
  &:hover,
  &:focus {
    background-color: darken($c-background-b, 10%);
  }
}

.btn--toggle {
  @include font-size(12px);
  background: #f8f8f8;
  padding: .25em .5em;
  text-decoration: none;
  text-transform: uppercase;
}