// *************************************
//
//   Module
//   -> Card
//
// *************************************

.card {
  background-color: $c-background-a;
  padding-bottom: 35px;
  position: relative;
  @include respond-to($l-min-medium) {
    min-height: em(300px);
  }
  .widgets {
    @extend %group;
    margin-bottom: 1em;
  }
}

.card-head {
  @extend %group;
  background-color: #000;
  color: #fff;
  padding: 1em;
  h3 {
    @extend %c-h6;
    @extend %ellipsis;
    @extend %l-pullLeft;
    margin-bottom: 0;
  }
  .switch {
    @extend %l-pullRight;
  }
}

.card-body {
  padding: 25px 10px 0;
}

.card-settings {
  @extend %ir;
  background: url(gear.png) center no-repeat;
  bottom: 0;
  height: 15px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 14px;
}
