// *************************************
//
//   Card
//   ->
//
// *************************************

.cards {
  margin-left: -1%;
  margin-right: -1%;
  .ui-sortable-connected {
    &:before,
    &:after {
      display: inline;
    }
  }
}
.card {
  @include box-sizing(border-box);
  position: relative;
  float: left;
  height: 320px;
  margin-bottom: $base-whitespace;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  z-index: 1;
  @media screen and (min-width: $l-min-medium) and (max-width: $l-max-large) {
    width: 50%;
  }
  @media screen and (min-width: $l-min-large) and (max-width: $l-max-xlarge) {
    width: 33.33333333333333%;
  }
  @include respond-to($l-min-xlarge) {
    width: 25%;
  }
  .widgets {
    @extend %group;
    margin-bottom: 1em;
  }
  .buttons .btn {
    @include respond-to($l-min-medium, min-width) {
      width: 48%;
    }
    &[disabled] {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }
  }
  form {
    position: relative;
    top: -0.6em;
  }
  .switch-label {
    margin-right: $base-whitespace;
  }
  input[type=text] {
    border: none;
    padding: 3px 5px;
    width: 100%;
    &.error {
      border: 1px solid #FF0000;
    }
  }
  .card-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    &:after {
      @include triangle(50px, #f9fafb, down-right);
      bottom: 0;
      content: '';
      position: absolute;
      right: 0;
    }
    .icon {
      position: relative;
      z-index: 1;
    }
  }
  .cancel-link {
    @include font-size(12px);
    background: transparent;
    border: none;
    display: inline-block;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    width: 50%;
  }
}

.card-container {
  @include box-sizing(border-box);
  background-color: $c-background-a;
  height: 320px;
  padding-bottom: 50px;
  width: 100%;
}

.card-head {
  @extend %group;
  background-color: $base-color;
  color: $c-color-b;
  cursor: move;
  padding: 1em;
  h3 {
    overflow: visible;
    @extend %c-h6;
    @extend %ellipsis;
    @extend %l-pullLeft;
    margin-bottom: 0;
  }
  .switch {
    @extend %l-pullRight;
  }
}

.card-body {
  padding: 25px 10px 0;
}
