// *************************************
//
//   Faux Table
//   ->
//
// *************************************

.faux-table {
  @include respond-to($l-min-large) {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
}


// ----- Submodules ----- //

.faux-table-head {
  @extend %c-shout;
  border-bottom: $c-border-a;
  font-weight: $c-semiBold;
  @include respond-to($l-max-large, max-width) {
    display: none;
  }
  @include respond-to($l-min-large) {
    display: table-header-group;
  }
}

.faux-table-body {
  @include respond-to($l-min-large) {
    display: table-row-group;
  }
}

.faux-table-footer {
  @include respond-to($l-min-large) {
    display: table-footer-group;
  }
}

.faux-table-row {
  @include respond-to($l-max-large, max-width) {
    left: -#{$base-whitespace};
    padding-left: $base-whitespace;
    padding-right: $base-whitespace;
    position: relative;
    width: 100%;
  }
  @include respond-to($l-min-large) {
    display: table-row;
  }
}

.faux-table-cell {
  padding: 1em 0;
  vertical-align: middle;
  overflow-wrap: break-word;
  word-break: break-all;
  @include respond-to($l-max-large, max-width) {
    &:first-child {
      padding-bottom: 0;
    }
  }
  @include respond-to($l-min-large) {
    display: table-cell;
    padding: 1em $base-whitespace;
  }
}


// ----- Modifiers ----- //

.faux-table--striped {
  .faux-table-row:nth-child(2n+1) {
    background: $c-background-a;
  }
}
