// *************************************
//
//   Flipper
//   -> For flipping an element
//
// *************************************


/* entire container, keeps perspective */
.flip-container {
	@include perspective(1000);
}
/* flip the pane when hovered */
.flip-container.flipped .flipper {
	@include transform(rotateY(180deg));
}

.flip-container {
  // must have fixed width and height
}

.front,
.back {
  // must have fixed width and height
}

/* flip speed goes here */
.flipper {
	@include transition(0.6s);
	@include transform-style(preserve-3d);
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	@include backface-visibility(hidden);
	left: 0;
	position: absolute;
	top: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	@include transform (rotateY(180deg));
}
