// *************************************
//
//   Icons
//   ->
//
// *************************************

.icon {
  @extend %ir;
}

.icon-settings {
  background: url(icon-gear.png) center no-repeat;
  background-size: 50%;
  bottom: 0;
  height: 15px;
  padding: 10px;
  right: 0;
  width: 14px;
  &:hover {
    @include animation(spin 3.0s linear infinite forwards);
  }
}
