// *************************************
//
//   Icons
//   ->
//
// *************************************

.icon {
  @extend %ir;
}

.icon--settings {
  background: asset-url("icon-gear.png") center no-repeat;
  background-size: 50%;
  display: block;
  height: 15px;
  padding: 8px 10px;
  width: 14px;
  &:hover,
  &:focus {
    @include animation(spin 3.0s linear infinite forwards);
  }
}

.icon--cancel {
  -moz-transition: -moz-transform 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  transition: transform 0.2s linear;
  background: asset-url("icon-cancel.png") center no-repeat;
  display: block;
  height: 13px;
  padding: 10px;
  width: 12px;
  &:hover,
  &:focus {
    @include transform(scale(1.25));
  }
}

.icon--trash {
  background: $base-background asset-url("icon-trash.png") 0 0 no-repeat;
  height: 63px;
  width: 55px;
}
