// *************************************
//
//   Lightbox
//   ->
//
// *************************************

.lightbox-overlay {
  background: rgba(0, 0, 0, .3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.lightbox-body {
  background: $base-background;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  left: 50%;
  margin-left: -135px;
  margin-top: -110px;
  padding: $base-whitespace;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 220px;
}

.lightbox {
  text-transform: uppercase;
  h2 {
    @include font-size(14px);
    border-bottom: 1px solid $base-color;
    padding-bottom: .5em;
  }
  p {
    font-weight: 600;
  }
  p, a {
    @include font-size(12px);
  }
  .buttons {
    a:first-child {
      float: left;
    }
    a:last-child {
      float: right;
    }
  }
  .btn {
    padding-left: 4em;
    padding-right: 4em;
  }
}

