// *************************************
//
//   Page
//   -> Page level styles
//
// *************************************

[role=main] .l-container {
  padding-top: $base-whitespace;
  padding-bottom: $base-whitespace;
}


// ----- Submodules ----- //

.page-section {
  @extend %group;
  margin-bottom: $base-whitespace;
  .l-cell {
    width: 100%;
    margin-bottom: $base-whitespace;
    @media screen and (min-width: $l-min-medium) and (max-width: $l-max-large) {
      width: 48%;
      margin-left: 4%;
      &:nth-of-type(2n+1) {
        margin-left: 0;
      }
    }
    @media screen and (min-width: $l-min-large) and (max-width: $l-max-xlarge) {
      width: 31.33%;
      margin-left: 3%;
      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }
    @include respond-to($l-min-xlarge) {
      width: 23.5%;
      margin-left: 2%;
      &:nth-of-type(4n+1) {
        margin-left: 0;
      }
    }
  }
  .l-double-cell {
    @media screen and (min-width: $l-min-medium) and (max-width: $l-max-large) {
      width: 100%;
    }
    @include respond-to($l-min-xlarge) {
      width: 49%;
      margin-left: 2%;
    }
  }
}

.page-title {
  @include clearfix;
  border-bottom: $base-border;
  margin-bottom: 1.25em;
  h2 {
    @extend %c-shout;
    @extend %c-h3;
    color: $c-color-a;
    font-weight: $c-semiBold;
    margin-bottom: 0;
  }
  @include respond-to($l-max-medium, max-width) {
    .l-pullLeft,
    .l-pullRight {
      width: 100%;
    }
    .buttons {
      display: block;
      margin-top: .5em;
    }
    .btn {
      display: block;
      margin-bottom: .5em;
    }
  }
  @include respond-to($l-min-medium) {
    .btn {
      margin-left: 5px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
