// *************************************
//
//   Widgets
//   -> Thumbnails of widgets
//
// *************************************

.widgets {
  @include clearfix;
  margin-left: -1%;
  margin-right: -1%;
  li {
    @extend %l-cell;
    @include font-size(10px);
    @include box-sizing(border-box);
    line-height: 1.2;
    margin-bottom: 1em;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    width: 20%;
    img {
      margin: 0 auto .25em;
    }
    a {
      text-decoration: none;
    }
  }
}

// ----- Modifiers ----- //

.widgets--small {
  li {
    @media screen and (min-width: $l-min-medium) and (max-width: $l-max-large) {
      width: 12.5%;
    }
    @media (min-width: $l-min-xlarge) {
      width: 12.5%;
      height: 90px;
    }
  }
}

.widgets--large {
  li {
    width: 25%;
  }
}
