// *************************************
//
//   Widgets
//   -> Thumbnails of widgets
//
// *************************************

.widgets {
  li {
    @extend %l-cell;
    @include font-size(10px);
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 2%;
    text-align: center;
    width: 18%;
    img {
      margin: 0 auto .25em;
    }
    a {
      text-decoration: none;
    }
  }
}

// ----- Modifiers ----- //

.widgets--small {
  li {
    width: 50px;
    height: 90px;
  }
}

.widgets--large {
  li {
    width: 23%;
  }
}
