<div class="theme-settings">
  <div class="container">
    <p><strong>Layout:</strong> {{ webLayout.name }}</p>
    <p><strong>Theme:</strong> {{ webTheme.name }}</p>

    {{#view G5ClientHub.ReloadPreviewView}}
      <button class="reload btn btn-large primary">Reload</a>
    {{/view}}
  </div>
</div>

<div class="preview">
  {{view G5ClientHub.iFrameView}}
</div>
