<div class="card-container front">

  {{ partial "cardHead" }}

  <div class="card-body">
    <ul class="widgets widgets--large">
      {{#each mainWidgets}}
        {{ partial "cardWidget" }}
      {{/each}}
    </ul>
    <div class="buttons">
      <a href="#" class="btn btn--small">Edit</a>
      <a href="#" class="btn btn--small">Preview</a>
    </div>

    {{ partial "cardFlip" }}
  </div>
</div>