<div class="l-container">
  <nav class="navigation" role="navigation">
    <ul>
      <li><a class="active" href="/">CMS</a></li>
      <li><a href="/">Redirects</a></li>
      <li><a href="/">Phone Numbers</a></li>
      <li><a href="/">Pricing and Availibility</a></li>
      <li><a href="/">Leads</a></li>
    </ul>
  </nav>
</div>
