<div class="l-container">
  <nav class="nav" role="navigation">
    <ul>
      <li><a {{bindAttr href="{{unbound controllers.client.cms_url"}}>CMS</a></li>
      <li><a {{bindAttr href="controllers.client.cpns_url"}}>Phone Numbers</a></li>
      <li><a {{bindAttr href="controllers.client.cpas_url"}}>Pricing and Availability</a></li>
      <li><a {{bindAttr href="controllers.client.cls_url"}}>Leads</a></li>
    </ul>
  </nav>
</div>
