{{#view App.TogglePanelView contentBinding="this"}}
  Select Themes
  <span class="toggle-panel-text btn--toggle-hide">Hide</span>
  <span class="toggle-panel-text hide btn--toggle-show">Show</span>
{{/view}}
