<div class="layout-picker thumbnail-field">
  <div class="container">
    <h2>Select a Layout</h2>

    <div class="thumbs clearfix">
      {{#each controller}}
        <div class="thumb">
          <input {{ action "addLayout" this }} />
          <label>
            <img alt="Thumbnail" {{ bindAttr src="thumbnail" }}>
            {{ name }}
          </label>
        </div>
      {{/each}}
    </div>
  </div>
</div>