<div class="widget-drop-zone aside-widgets aside-before-main-widgets">
  <h2>Aside before main</h2>
  {{view App.WidgetsListView contentBinding="content"}}
  <div class="add-drop-zone">
    {{view App.WidgetsAddView contentBinding="content"}}
  </div>
  <div class="remove-drop-zone">
    {{view App.WidgetsRemoveView contentBinding="content"}}
  </div>
</div>
