<div class="widget-drop-zone aside-widgets">
  <h2>Sidebar</h2>
  <div class="add-drop-zone">
    {{view App.WidgetsAddView contentBinding="content" dragContextBinding="currentDragAddItem"}}
  </div>
  {{view App.WidgetsListView contentBinding="content"}}
  <div class="remove-drop-zone">
    {{view App.WidgetsRemoveView contentBinding="content" dragContextBinding="currentDragRemoveItem"}}
  </div>
</div>
