<div class="redirects l-container">
  <h2 class="page-title">
    Asset Manager
  </h2>

{{ controller }}
Image: {{view App.UploadFile name="image" imageBinding="Landcode.image" }}
<button {{action 'saveLandcode'}}>Save</button>

  <div class="faux-table faux-table--striped">

    <div class="faux-table-head">
    </div> <!-- end .faux-table-head -->

    <ul class="faux-table-body">
    </ul> <!-- end .faux-table-body -->
  </div> <!-- end .faux-table -->
  <button class="save-redirects btn l-pullRight" {{action save this}}>Submit</button>
</div>
