<div class="right">
  <form>
  <div class="colors clearfix">
    <h3>Theme Colors:</h3>
    <div class="color-fields">
      <div class="check-field">
        <input type="checkbox">
        <label>Use Custom Colors</label>
      </div>
      <div class="color-field">
        <input type="color" id="color-1" />
        <label for="color-1">Primary</label>
      </div>
      <div class="color-field">
        <input type="color" id="color-2" />
        <label for="color-2">Secondary</label>
      </div>
    </div>
  </div>
  </form>
</div> <!-- end right -->