<div class="right" style="float:right;">
  <div class="colors clearfix">
    <h3>Theme Colors:</h3>
    <div class="color-fields">
      <div class="check-field">
        <input type="checkbox">
        <label>Use Custom Colors</label>
      </div>
      <div class="color-field">
        <input type="color" />
        <label>Primary</label>
      </div>
      <div class="color-field">
        <input type="color" />
        <label for="color-2">Secondary</label>
      </div>
    </div>
  </div>
</div> <!-- end right -->