<div class="docs l-container">
  <div class="page-title">
    <h2>Docs</h2>
  </div>

  <h3>Liquid Variables for page titles</h3>

  <p>When editing a location page title, you have access to the variables below to construct your string. Simply wrap each variable in double curly brackets, \{{ and }}. An example title string that can be instructed is:</p>

  <p><em>Photos of \{{ location_name }} in \{{ location_city }}, \{{ location_state }}</em></p>

  <p>This would produce a title of "Photos of World's Best Apartments in Hollywood, CA"</p>

  <table class="table--small">
    <thead>
      <th>Available Variables</th>
      <th>Sample Output</th>
    </thead>
    <tbody>
      <tr>
        <td>web_template_name</td>
        <td>Photo Gallery</td>
      </tr>
      <tr>
        <td>location_name</td>
        <td>World's Best Apartments</td>
      </tr>
      <tr>
        <td>location_city</td>
        <td>Los Angeles</td>
      </tr>
      <tr>
        <td>location_neighborhood</td>
        <td>Santa Monica</td>
      </tr>
      <tr>
        <td>location_state</td>
        <td>CA</td>
      </tr>
      <tr>
        <td>location_floor_plans</td>
        <td>2 Bedroom, 2 Bath</td>
      </tr>
      <tr>
        <td>location_primary_amenity</td>
        <td>Hot Tub</td>
      </tr>
      <tr>
        <td>location_qualifier</td>
        <td>Luxury</td>
      </tr>
      <tr>
        <td>location_primary_landmark</td>
        <td>Seattle Grace Hospital</td>
      </tr>
    </tbody>
  </table>

</div>
