<div class="widget-drop-zone main-widgets">
  <h2>Main</h2>
  <div class="add-drop-zone">
    {{ view App.WidgetsAddView contentBinding="this" }}
  </div>
  {{ view App.WidgetsListView contentBinding="this" }}
  <div class="remove-drop-zone">
    {{ view App.WidgetsRemoveView contentBinding="this" }}
  </div>
</div>
