{{! <div class="<%= web_template.type.parameterize %>"> }}
<div>
  <div class="l-cell">
    <img alt="Thumbnail" class="thumb" {{ bindAttr src="webLayout.thumbnail" }} />
  </div>

  <div class="l-cell">
    <img alt="Thumbnail" class="thumb" {{ bindAttr src="webTheme.thumbnail" }} />
  </div>

  <div class="l-cell l-double-cell">
    <h3 class="template-heading">Widgets</h3>
    <ul class="widgets widgets--small">
      {{! <%= render web_template.widgets %> }}
    </ul>
  </div>

</div>
