<li class="faux-table-row location">
  <div class="faux-table-cell">
    {{name}}
  </div>
  <div class="faux-table-cell">
    {{textarea value=redirect_patterns}}
  </div>
  <div class="faux-table-cell buttons">
    <button class="btn" {{action save this}}>Submit</button>
  </div>
</li>