<div class="l-container">
  <div class="redirects">
    <div class="page-title">
      <h2>Redirects Manager</h2>
    </div>

    <div class="faux-table faux-table--striped">

      <div class="faux-table-head">
        <span class="faux-table-cell">Page Name</span>
        <span class="faux-table-cell">Redirect Rules</span>
      </div> <!-- end .faux-table-head -->

      <ul class="faux-table-body">
        {{ render "redirectManagerRow" webHomeTemplate }}
        {{#each webPageTemplates}}
          {{ render "redirectManagerRow" this }}
        {{/each}}
      </ul> <!-- end .faux-table-body -->
    </div> <!-- end .faux-table -->
    <button class="save-redirects btn l-pullRight" {{action save this}}>Submit</button>
  </div>
</div>
