<li class="faux-table-row location">
  <div class="faux-table-cell">
    {{name}}
  </div>
  <div class="faux-table-cell">
    {{textarea value=redirect_patterns placeholder="Add URLs separated by space or line with no leading or trailing slashes here. Ex: \n redirect redirect/this more/redirects/here" rows="3"}}
  </div>
</li>