<div class="releases l-container">
  <div class="page-title"><h2>Releases</h2></div>

  <div class="faux-table faux-table--striped">
    <ul class="faux-table-body">
      {{#each model}}
      <li {{bindAttr class=":faux-table-row current"}}>
        <div class="faux-table-cell">{{created_at}}</div>
        <div class="faux-table-cell">
          <button class="btn" {{action rollback this.id controller.slug}}>Rollback</button>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
