<div class="widget-list">
  <div class="l-container page-section">
    {{ partial "panelToggleButton" }}
    <div class="left">
      <h2 class="page-title">Select Widgets</h2>
      {{#if model.isUpdating}}
        Loading...
      {{else}}
        {{#view App.ThumbnailScrollerView}}
        <div class="jThumbnailScroller">
          <div class="jTscrollerContainer">
            <ul id="choose-widgets" class="jTscroller clearfix">
            {{#each model}}
              {{#view App.DraggableWidgetView contentBinding="this"}}
                <img alt="Thumbnail" {{ bindAttr src="view.content.thumbnail" }} />
                {{ view.content.name }}
              {{/view}}
            {{/each}}
            </ul>
          </div>
          <a href="#" class="jTscrollerPrevButton"></a>
          <a href="#" class="jTscrollerNextButton"></a>
        </div>
        {{/view}}
      {{/if}}
    </div>
  </div>
</div>
