<div class="layout-picker thumbnail-field">
  <div class="container page-section">
    <h2>Select a Layout</h2>
    <ul class="thumbs clearfix">
    {{#each model}}
      <li class="thumb">
        <a href="#" {{ action "update" this }}>
          {{#view App.RemoteWebLayoutView contentBinding="this"}}
          <img alt="Thumbnail" {{ bindAttr src="thumbnail" }} {{ bindAttr class="view.isSelected" }}>
          {{ name }}
          {{/view}}
        </a>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
