<h3>Web Layouts</h3>

<ul>
  {{#each controller}}
    <li>
      <a href="#" {{ action "addLayout" this }}>
        <img {{ bindAttr src="thumbnail" }}>
        <p>{{ name }}</p>
      </a>
    </li>
  {{/each}}
</ul>