<div class="layout-picker thumbnail-field">
  <div class="container">
    <h2>Select a Layout</h2>

    <ul class="thumbs clearfix">
    {{#each model}}
      <li class="thumb">
        <a href="#" {{ action "addWebLayout" this }}>
          <img alt="Thumbnail" {{ bindAttr src="thumbnail" }}>
          {{ name }}
        </a>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
