<div class="layout-picker thumbnail-field">
  <div class="container">

    <h2>Select a Layout</h2>

    <ul class="thumbs clearfix">
    {{#each model}}
      <li class="thumb">
        <a href="#" {{ action "update" this }}>
          <img alt="Thumbnail" {{ bindAttr src="thumbnail" }}>
          {{ name }}
        </a>
	      {{#if id}}(selected){{/if}}
      </li>
    {{else}}
      <li>No Layouts Available</li>
    {{/each}}
    </ul>

  </div>
</div>
