<div class="l-container">
  <h2 class="page-title">
    Location:
    {{ name }}
    &mdash; Pages
    <span class="buttons">
      {{! <%= link_to "Deploy", deploy_website_path(@website), method: :post, class: "btn" %> }}
      {{! <a href="#" class="btn">Deploy</a> }}
    </span>
  </h2>

  <div class="site-settings page-section l-grid">
    {{ render "siteSettings" websiteTemplate }}
  </div>

  <div class="site-pages page-section">
    {{ render "sitePages" webHomeTemplate }}
    {{#each webPageTemplates}}
      {{ render "sitePages" this }}
    {{/each}}

  </div>

  <div class="delete-page">
    <div class="icon icon--trash"></div>
  </div>
</div>