<div class="right">
  <form>
  <div class="colors clearfix">
    <h3>Theme Colors</h3>
    <div class="color-fields">
      <div class="check-field">
        <label>
          {{view G5ClientHub.Checkbox checkedBinding="customColors"}}
          Use Custom Colors
        </label>
      </div>
      <div class="color-field">
        <label for="color-1">Primary</label>
        {{view G5ClientHub.ColorField valueBinding="primaryColor" id="color-1"}}
      </div>
      <div class="color-field">
        <label for="color-2">Secondary</label>
        {{view G5ClientHub.ColorField valueBinding="secondaryColor" id="color-2"}}
      </div>
    </div>
  </div>
  </form>
</div> <!-- end right -->
