/*
 *= require_self
 *= require_tree ./application
*/

/* Import "bootstrap" in your SCSS file of choice to get all of Bootstrap's
 * styles, mixins and variables! We recommend against using //= require
 * directives, since none of your other stylesheets will be able to use the
 * awesome mixins that Bootstrap has defined. */
@import "bootstrap";
@import "bootstrap-responsive";
@import "spectrum";

body {
  padding-bottom: 2em;
  color: #504e4e;
  font-size: 16px;
}
h3 {
  margin-bottom: 1em;
}
th {
  font-size: 21px;
}
.table th,
.table td {
  padding: 1em;
}
.page-header {
  border-color: #918f8f;
}
.page-title {
  overflow: hidden;
  h3 {
    margin-top: 0;
    float: left;
  }
  .btn {
    float: right;
  }
}
.informative-input[readonly=readonly] {
  cursor: pointer;
}

form {margin: 0}

.pages {
  .thumb {
    width: 100px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .widgets {
    li {
      float: left;
      margin-bottom: 5px;
      width: 69px;
      min-height: 90px;
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
    }
    img {
      display: block;
      margin: 0 auto 5px;
      width: 50px;
    }
  }
  img {
    display: block;
  }
}

.field_with_errors input { border: 1px solid red}
#add-widgets {
  min-height: 100px;
  padding-bottom: 25px;
}

.sortable {
  margin: 0;
  padding: 0 10px 0 0;
}
.sortable li {
  list-style: none;
  margin: 5px;
  border: 1px solid gray;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: move;
}
#choose-widgets {
  li {
    float: left;
    margin-bottom: 5px;
    padding: 5px;
    width: 62px;
    min-height: 90px;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    background: #f0f0f0;
    background: -webkit-linear-gradient(#fff, #f0f0f0);
    border: 1px solid #cbcbcb;
  }
  img {
    display: block;
    margin: 0 auto 5px;
    width: 50px;
  }
}
.ui-sortable-helper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), 0 5px 10px rgba(0, 0, 0, .3);
}
#add-widgets {
  li {
    padding: 5px;
    display: block;
    background: #f0f0f0;
  }
  img {
    margin-right: .5em;
    width: 25px;
  }
}

#add-widgets li.section {
  text-align: center;
  background-color: #ccc;
  cursor: default;
}

.dropzone {
  float: right;
}

.edit_page input[type=submit],
.new_page input[type=submit] {
  margin-top: 10px;
}

table tr.site-template {
}
.thumbnail-field {
  padding-bottom: 1em;
  border-bottom: 1px solid #918f8f;
}
.thumbs {
  .thumb {
    float: left;
    margin-right: 2em;
  }
  input {
    position: absolute;
    left: -999em;
    &:checked + label img {
      outline: 2px solid #404041;
    }
  }
  img {
    display: block;
    padding: 2px;
    margin: 0 0 .5em;
  }
  label {
    font-size: 12px;
    line-height: 1.2;
    cursor: pointer;
  }
}
.instructions {
  margin: -1em 0 2em;
}
.edit_site_template {
  input[type=submit] {
    margin-top: 1em;
  }
}
.layout-picker .thumb {
  width: 100px;
}
.theme-picker {
  .thumb {
    width: 250px;
  }
  .thumbs,
  .colors {
    float: left;
    width: 50%;
  }
}
.color-field {
  float: left;
  margin-right: 2em;
}
