// *************************************
//
//   Application
//   -> G5 CMS
//
// *************************************

// -------------------------------------
//   Bourbon
// -------------------------------------

@import "bourbon";


// -------------------------------------
//   Core
// -------------------------------------

@import "normalize";
@import "core/settings";
@import "core/helpers";
@import "core/base";
@import "core/content";
@import "core/layout";


// -------------------------------------
//   Plugins
// -------------------------------------

@import "jquery.thumbnailScroller";
@import "spectrum";


// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/alert";
@import "modules/banner";
@import "modules/buttons";
@import "modules/bootstrap-collapse";
@import "modules/bootstrap-modal";
@import "modules/bootstrap-switch";
@import "modules/card";
@import "modules/faux-table";
@import "modules/flipper";
@import "modules/form";
@import "modules/icons";
@import "modules/lightbox";
@import "modules/navigation";
@import "modules/page";
@import "modules/widgets";
@import "modules/releases";



// -------------------------------------
//   Inbox
// -------------------------------------

@import "modules/cms-ember";

.p-category:before { content: "#" }

#trash {
  border-top: 1px solid #909090;
  margin-top: 100px;
  position: relative;
  .icon--trash {
    left: 50%;
    margin-left: -27px;
    position: relative;
    top: -31px;
  }
}

.redirects .save-redirects {
  margin-right: 25px;
}

#deleted-pages {
  @include clearfix;
  position: relative;
}

.ui-sortable-connected {
  @include clearfix;
  position: relative;
  min-height: 320px;
}

.table th {
  font-weight: normal;
}

.table--small {
  border: 1px solid #aaa;
  width: auto;
  thead {
    border-bottom: 2px solid #aaa;
  }
  tbody tr {
    border-bottom: 1px solid #aaa;
  }
  th {
    text-align: left;
  }
  th,
  td {
    padding: .5em 1em;
    &:first-child {
    }
  }
}
