@import "helpers";

@font-face {
  font-family: 'Proxima Nova Extra Condensed';
  src: url('proxima_nova_extra_condensed_light-webfont.eot');
  src: url('proxima_nova_extra_condensed_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('proxima_nova_extra_condensed_light-webfont.ttf') format('truetype'),
       url('proxima_nova_extra_condensed_light-webfont.svg#webfont') format('svg');
}

body {
  color: $primary-text;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  padding: 0 0 2em;
}
h1, h2, h3, h4, h5, h6, header, label, th {
  font-family: 'Proxima Nova Extra Condensed', 'helvetica neue', helvetica, arial, sans-serif;
  text-transform: uppercase;
}
label, th {
  font-size: 20px;
}
a, a:hover {
  text-decoration: none;
}
ul, ol {
  margin: 0;
  list-style-type: none;
}
form {
  .check-field,
  .field.check {
    input,
    label {
      display: inline-block;
    }
    input {
      vertical-align: top;
    }
  }
  .field {
    margin-bottom: 1em;
  }
}
table {
  th {
    font-size: 26px;
  }
}
.table th {
  font-weight: normal;
}