@import "helpers";

@font-face{
	font-family: 'Proxima Nova Extra Condensed';
	src: url('proxima_nova_extra_condensed_light-webfont.eot');
	src: url('proxima_nova_extra_condensed_light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('proxima_nova_extra_condensed_light-webfont.ttf') format('truetype'),
	     url('proxima_nova_extra_condensed_light-webfont.svg#webfont') format('svg');
}

body {
  color: $primary-text;
  font-family: 'Proxima Nova Extra Condensed', 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 2em;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul, ol {
  margin: 0;
  padding: 0;
}
ul, ol, li {
  list-style-type: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  th, td {
    padding: 1em;
  }
  th {
    font-size: 26px;
    font-weight: bold;
  }
  thead {
    border-bottom: 1px solid #000;
  }
  tr:nth-child(even) {
    background: #efefef;
  }
}
form {
  input,
  label {
    display: block;
  }
  .check-field {
    input,
    label {
      display: inline-block;
    }
  }
  .field {
    margin-bottom: 1em;
  }
  input {
    padding: .3em .5em .2em;
  }
}
