@import "helpers";

h2 {
  margin-bottom: 1em;
  font-size: 28px;
  line-height: 1;
  color: $alt-text;
  font-weight: normal;
  border-bottom: 1px solid $alt-text;
}

.builder h2 {
  display: inline-block;
}

.container,
.container-fluid {
  @include border-box;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.builder .container {
  width: 1170px;
}

.navbar .container-fluid {
  margin: 0 auto;
  padding: 0 20px;
}

section[role=main] .container,
section[role=main] .container-fluid {
  padding-top: 1em;
}

.page {
  padding: 1em 20px;
}

.alert-info {
  color: green;
  text-align: center;
}

.nav {
  padding: 1em 0;
}

header[role=banner] {
  @include standard-shadow;
  @include clearfix;
  background: #363a3b;
  letter-spacing: .1em;
  padding: .5em 0;
  position: relative;
  z-index: 6;
  &, a {
    color: #fff;
  }
  .branding {
    float: left;
    margin: 0;
    strong {
      color: $alt-text;
    }
  }
  .logo {
    @include image-replacement;
    vertical-align: middle;
    width: 30px;
    height: 27px;
    margin-right: 30px;
    background: url(logo.png) 0 0 no-repeat;
  }
}

.branding,
nav[role=navigation] {
  font-size: 24px;
}

nav[role=navigation] {
  margin: 0;
  padding: 0;
  li, a {
    display: inline-block;
  }
  a {
    padding: .5em 1em;
  }
}

.btn {
  font-family: 'Proxima Nova Extra Condensed', 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  &.primary {
    @include box-shadow(none);
    @include gradient(#fda585, #fd8c62);
    color: #fff;
    border: 1px solid #fea687;
    text-shadow: none;
  }
  &.btn-large {
    font-size: 24px;
  }
}

.page-title {
  h2 {
    @include clearfix;
    margin-top: 1em;
  }
  .new-page {
    float: right;
    margin-bottom: .2em;
    margin-top: -1em;
  }
}

.pages {
  td {
    vertical-align: top;
  }
  .thumb {
    width: 100px;
  }
  .widgets {
    li {
      float: left;
      margin-bottom: 5px;
      width: 85px;
      min-height: 90px;
      font-size: 14px;
      text-align: center;
    }
    img {
      display: block;
      margin: 0 auto 5px;
      width: 50px;
    }
    a {
      color: #000;
    }
  }
  img {
    display: block;
  }
}

.thumbs {
  overflow: hidden;
  .thumb {
    float: left;
    margin-right: 20px;
    width: 171px;
    -moz-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    display: block;
    padding: 2px;
    background: #fff;
    @include box-shadow(0 2px 5px rgba(0, 0, 0, .45));
  }
  input {
    position: absolute;
    left: -999em;
    &:checked + label,
    &:checked + label img {
      opacity: 1;
    }
    &:checked + label img {
      background: $alt-text;
    }
  }
  label {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
  }
}

.builder section[role=main] .container {
  padding-top: 0;
}

.layout-picker {
  @include standard-shadow;
  background: #efefef;
  padding: 1em 0;
  position: relative;
  z-index: 5;
  img {
    margin: 0 0 16px;
  }
}

.theme-picker {
  @include standard-shadow;
  padding: 1em 0;
  background: #fff;
  position: relative;
  z-index: 4;
  .thumb {
    margin-right: 20px;
  }
  img {
    margin: 2px 3px 5px;
  }
}

.widget-list {
  @include clearfix;
  @include standard-shadow;
  padding: 1em 0;
  background: url($linen) 0 0 repeat;
  .instructions {
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
  }
  ul {
    width: 900px;
  }
}

/* styles for unselected widgets */
#choose-widgets li {
  display: inline-block;
  vertical-align: top;
  cursor: move;
  text-align: center;
  font-size: 20px;
  width: 75px;
  margin-right: 15px;
  margin-bottom: .5em;
  &:nth-of-type(10n+1) {
    clear: left;
  }
  img {
    margin-bottom: .2em;
  }
}
.ui-sortable-helper {
  -webkit-transform: scale(1.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3), 0 5px 10px rgba(0, 0, 0, .3);
  img{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5), 0 10px 20px rgba(0, 0, 0, .5);
  }
}
.widget-list,
.add-widgets {
  font-family: 'Proxima Nova Extra Condensed', 'helvetica neue', helvetica, arial, sans-serif;
  text-transform: uppercase;
}
.dropzone {
  width: 285px;
  padding-top: 2em;
  position: absolute;
  right: 20px;
  z-index: 10;
}
.add-widgets {
  @include border-box;
  width: 100%;
  height: 75px;
  padding: 10px;
  margin-bottom: 1em;
  background: #fff;
  border: 1px solid #ccc;
  li {
    width: auto;
    margin-right: 10px;
    margin-bottom: .2em;
    cursor: move;
    img {
      display: inline;
      vertical-align: middle;
      width: 20px;
    }
  }
}

.colors {
  margin: 1em 0;
  width: 210px;
  border: 1px solid #cbcbcb;
  h3 {
    @include gradient(#fefefe, #f5f5f5);
    font-size: 24px;
    padding: .5em 1em .4em;
    margin: 0;
    border-bottom: 1px solid #cbcbcb;
  }
  .color-fields {
    padding: 10px;
    background: #fff;
  }
  .check-field {
    margin-bottom: 1em;
  }
  .color-field {
    margin-bottom: 10px;
  }
  .sp-replacer,
  label {
    display: inline-block;
  }
  .sp-replacer {
    margin-right: 20px;
  }
  label {
    font-size: 22px;
  }
}

.page-fields {
  padding-top: 1em;
}