html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
nav ul,
nav ol {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol,
nav li {
  list-style-type: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
form input,
form label {
  display: block;
}
form .field {
  margin-bottom: 1em;
}
form input[type=text],
form input[type=email] {
  padding: .3em .5em .2em;
}
.dxm {
  width: 100px;
  height: 23px;
  background: url(http://g5-widget-garden.herokuapp.com/static/images/dxm.png) 0 0 no-repeat;
}