<h2 class="page-title">Locations</h2>

<div class="fauxTable fauxTable--striped">

  <div class="fauxTable-head">
    <span class="fauxTable-cell">Name</span>
    <span class="fauxTable-cell">Actions</span>
  </div> <!-- end .fauxTable-head -->

  <ul class="fauxTable-body">
    <% @locations.each do |location| %>
    <li class="fauxTable-row">
      <div class="fauxTable-cell">
        <%= location.name %>
      </div>
      <div class="fauxTable-cell buttons">
        <%= link_to "Edit", website_path(location.website), class: "btn  btn--a" %>
        <%= link_to "View", location.website.heroku_url, class: "btn  btn--a" %>
        <%= link_to "Deploy", deploy_website_path(location.website), method: :post, class: "btn btn--a" %>
      </div>
    </li>
    <% end %>
  </div> <!-- end .fauxTable-body -->
</div> <!-- end .fauxTable -->
